:root {
    /* Branding Colors */
    --primary-blue: #10759D;
    --hover-blue:   #4593B2;
    --disable-blue: #66D5FF;
    --primary-gray: #58585A;

    /*--link-blue:    #0095CC;*/
    /*--primary-gray: #666666;*/
    /*--darker-gray:  #58585A;*/

    /* Main background and borders*/
    --background-gray:    #FAFAFA;
    --border-gray:        #F4F4F4;
    --darker-border-gray: #E6E6E6;
    --background-red:     #FFE5E5;
    --slct-tbl-row-bkgd:  #CCF1FF;

    /* Button colors*/
       /* Basic button is: */
       /*--primary-blue: #10759D;*/
       /*--hover-blue:   #4593B2;*/
       /*--disable-blue: #66D5FF;*/
    --primary-green:        #00B359;
    --hover-green:          #00CC66;
    --disable-green:        #00E673;
    --primary-red:          #F82219;
    --hover-red:            #FA5752;
    --disable-red:          #FC9F9C;
    --cancel-gray:          #808080;
    --cancel-hover-gray: #B3B3B3;

    /* Error Message */
    --background-error-red: #D81B1B;
    --border-dark-red:      #940000;
    --border-error-red:     #FF3C3C;

    /* Basic colors */
    --light-gray:   #CCC;
    --black:        #000;
    --white:        #FFF;
}

.full-screen {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #58585A;
    overflow: hidden;
}

.full-screen-scroll {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #58585A;
    overflow-x: hidden;
    overflow-y: auto;
}

.create-form {
    width: 850px;
    margin: 10px auto 0 auto;
    overflow: auto;
}

.columns-group {
    display: table;
    box-sizing: border-box;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.single-column {
    display: table-cell;
    vertical-align: top;
}

.feature-checkmark-list {
    list-style: none;
    margin-left: 0;
    padding-left: 36px;
}

.feature-checkmark-list--item:before {
    color: #58585A;
    content: '\2714';
    display: inline-block;
    font-size: 18px;
    margin: 0 0 0 -24px;
    width: 24px;
}

.create-form-info-box {
    margin-left: 30px;
    font-size: 12px;
}

.create-form-info-box h1 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
}

.create-form-group {
    box-sizing: border-box;
    clear: both;
    padding: 4px 0 4px 115px;
    position: relative;
    margin: 1px 0;
    width: 100%;
}

.create-form-label {
    float: left;
    margin-left: -145px;
    padding: 5px 0 0;
    position: relative;
    text-align: right;
    width: 130px;
    font-size: 14px;
    font-weight: 400;
    color: #58585A;
    word-wrap: break-word;
}

.create-form-input-box {
    height: 2.14285714em;
    line-height: 1.4285714285714;
    padding: 4px 25px 4px 5px;
    border: 1px solid #CCC;
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    max-width: 250px;
    vertical-align: baseline;
    width: 100%;
}

.create-form-input-icon {
    color: #F82219;
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 13px;
    width: 30px;
    display: block;
}

.create-form-select {
    height: 2.14285714em;
    line-height: 1.4285714285714;
    padding: 4px 25px 4px 5px;
    border: 1px solid #CCC;
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    max-width: 250px;
    vertical-align: baseline;
    width: 100%;
    background: #FFF;
}

.create-form-group a {
    position: absolute;
    padding: 1px 0 0 10px;
    font-size: 20px;
}

.create-form-description {
    color: #58585A;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.66666666666667;
    margin: 5px 0 0;
    word-wrap: break-word;
}

.create-form-description-box {
    margin: 0px;
    width: 250px;
    height: 86px;
    padding: 4px 25px 4px 5px;
    border: 1px solid #CCC;
    border-radius: 3.01px;
    resize: none;
}

.create-box {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 0 auto 60px;
    padding: 30px;
}

.create-section {
    display: inline-block;
    padding: 20px 0 0;
    position: relative;
    width: 100%;
}

.settings-container {
    width: 600px;
    margin: 0 auto 0 auto;
    overflow: auto;
    padding: 5px 0 10px 0;
}

.settings-container .box {
    margin: 5px 0 20px;
    padding-bottom: 5px;
}

.right-form {
    width: 650px;
    margin: 10px auto 0 auto;
}

.right-form-group {
    box-sizing: border-box;
    clear: both;
    padding: 4px 0 4px 5px;
    position: relative;
    margin: 1px 0;
    width: 100%;
}

.right-form-label {
    float: left;
    margin-right: 10px;
    padding: 5px 0 0;
    position: relative;
    text-align: right;
    width: 30%;
    font-size: 14px;
    font-weight: 400;
    color: #58585A;
    word-wrap: break-word;
}

.right-form-value-label {
    float: left;
    /*padding: 0;*/
    position: relative;
    text-align: left;
    padding: 4px 25px 4px 5px;
    border: 1px solid #F4F4F4;
    border-radius: 3px;
    width: 67%;
    font-size: 14px;
    font-weight: 700;
    color: #58585A;
    word-wrap: break-word;
}

.right-form-input-box {
    height: 2.14285714em;
    line-height: 1.4285714285714;
    padding: 4px 25px 4px 5px;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    width: 67%;
    vertical-align: baseline;
}

.right-form-description {
    color: #58585A;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.66666666666667;
    margin: 5px 0 0;
    word-wrap: break-word;
}

.right-form-description-box {
    margin: 0;
    width: 67%;
    height: 86px;
    padding: 4px 25px 4px 5px;
    border: 1px solid #CCC;
    border-radius: 3px;
    outline: none;
    resize: none;
}

.right-box {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 0 auto 60px;
    padding: 30px;
}

.right-form-note-label {
    margin: 0;
    width: 90%;
    padding: 4px 5px 4px 5px;
    font-weight: 500;
}

.right-form-note-label ul {
    position: relative;
    padding: 0 18px;
    font-weight: bold;
    color: #58585A;
    margin-bottom: 5px;
}

.right-form-note-label ul li {
    position: relative;
    display: list-item;
    padding: 0 5px;
    font-weight: bold;
    color: #58585A;
}

.right-form-checkbox-label {
    float: left;
    padding-left: 5px;
    position: relative;
    text-align: left;
    width: 80%;
    font-size: 14px;
    font-weight: 400;
    color: #58585A;
    word-wrap: break-word;
}

.right-form-input-checkbox {
    float: left;
    width: 15px;
}

.progress-box {
    margin: 100px auto 0 auto;
    width: 800px;
    padding: 20px;
}

.progress-bar-success {
    background-color: #10759D;
}

.progress {
    height: 5px;
}

.progress-spinner {
    margin: 0 80px;
    font-size: 25px;
    text-align: center;
    color: #FFF;
    background: transparent;
    border: none;
    position: absolute;
    top: 175px;
    box-shadow: none;
}

.red-popover + .popover > .popover-inner {background-color: #F82219;}
.red-popover + .popover {background-color: #F82219;}
.red-popover + .popover > .popover-inner > .popover-content {
    padding: 1px 4px;
    color: #FFF;
    width: 120px;
    text-align: center
}

.red-popover + .popover.right>.arrow {
    border-right-color: #F82219;
    border-style: solid;
}

.red-popover + .popover>.arrow,
.red-popover + .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -10px;
    border-color: transparent;
    border-style: none;
}
.red-popover + .popover > .popover-arrow { border-bottom-color:#F82219; }
.red-popover + .popover.bottom .popover-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-right-color: #F82219;
    border-style: solid;
    border-width: 0 5px 5px;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
    -webkit-transition: 400ms ease-in-out all;
    -moz-transition: 400ms ease-in-out all;
    -o-transition: 400ms ease-in-out all;
    transition: 400ms ease-in-out all;
    display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.nav-sidebar-large {
    width: 200px;
    float: left;
}

.nav-sidebar-small {
    width: 50px;
    float: left;
}

.center-text {
    text-align: center
}

.main-page-content {
    width: 100%;
    float: left;
}

.nav-sidebar a {
    font-weight: 300;
    font-size: 16px;
    color: #58585A;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-sidebar a:hover,
.nav-sidebar a.selected {
    color: #10759D;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.nav-sidebar i {
    font-size: 18px;
}

.sidebar {
    background-color: #FAFAFA;
    border-right: 2px solid #F4F4F4;
    padding-top: 10px;
}

.nav-sidebar-bottom {
    text-align: right;
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*right: 20px;*/
}

.box {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #FFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.horizontal-scroll{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.right-border {
    border-right: 2px solid #F4F4F4;
    margin-right: -2px;
}

.left-border {
    border-left: 2px solid #F4F4F4;
}

.detail-left-border {
    margin-left: -7px;
    padding-left: 22px;
    border-left: 2px solid #F4F4F4;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
}

.navbar-title {
    /*padding-top: 25px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-stack-sandbox,
.navbar-stack-sign-in,
.navbar-stack-sign-in a,
.navbar-stack-name,
.navbar-stack-name a,
.navbar-stack-name.disabled,
.navbar-stack-name a.disabled{
    color: #58585A;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.navbar-stack-sandboxes select{
    color: #58585A;
    position: absolute;
    top: 0;
    right: -185px;
    width: 180px;
    font-weight: normal;
    font-size: 14px;
    height: 20px;
}

.navbar-stack-sign-in  a:hover,
.navbar-stack-name a:hover {
    color: #10759D;
    text-decoration: none;
    cursor: pointer;
}

.navbar-stack-sign-in  a:focus,
.navbar-stack-name a:focus {
    outline: none;
    text-decoration: none;
}

.navbar-stack-name {
    position: absolute;
    right: 15px;
    top: 20px;
}

.navbar-stack-sign-in {
    position: absolute;
    right: 15px;
    top: 20px;
}

.navbar-stack-sandbox {
    position: absolute;
    right: 15px;
    top: 30px;
}

.navbar-stack-sandboxes {
    position: absolute;
    right: 200px;
    top: 30px;
}

.navbar img {
    height: 32px;
}

.navbar-img {
    position: absolute;
    top: 15px;
    left: 55px;
}
.navbar-bars {
    position: absolute;
    top: 20px;
    left: 18px;
}

.navbar-bars i {
    font-size: 18px;
    color: #58585A;
}

.navbar-bars a:focus {
    outline: none;
    text-decoration: none;
}

.navbar-bars i:hover {
    color: #10759D
}

.navbar-bars .popover {
    left: -9px !important;
}

.navbar-bars .popover.bottom>.arrow {
    left: 15px;
}

.navbar {
    background-color: #FAFAFA;
    border-radius: 0;
    border-width: 0 0 2px 0;
    border-color: #F4F4F4;
    height: 60px;
    margin-bottom: 0;
}

span.title,
.navbar .navbar-brand,
.navbar .navbar-brand a{
    color: #58585A;
    font-weight: normal;
    padding: 45px 15px 25px 15px;
    text-decoration: none;
}

.navbar-brand a:hover {
    color: #10759D;
    text-decoration: none;
    cursor: pointer;
}

.navbar-brand.center-title {
    position: absolute;
    font-weight: lighter;
    top: -20px;
    font-size: 38px;
}

.blue-bar {
    background-color: #10759D;
    height: 50px;
}

.blue-bar .blue-bar-title {
    text-align: center;
    padding-top: 5px;
    color: #FFF;
    font-size: 28px;
    font-weight: 100;
}

.blue-bar .blue-bar-img {
    text-align: center;
    padding-top: 5px;
}

.popover-btn:hover {
    text-decoration: none;
}

.popover-btn {

}

.popover-btn .fa {
    padding-right: 4px;
    width: 20px;
}
.popover-btn.font-red,
.popover-btn.font-red i {
    color: #FA5752;
}

.navbar-bars .popover,
.navbar-bars .popover-content,
.bars-content {
    width: 375px;
    max-width: 375px;
}

.bars-content img {
    height: 20px;
}

.bars-content .bar-title {
    color: #58585A;
    font-size: 16px;
    padding: 4px 0 4px 8px;
}

.bars-content .bar-item {
    color: #58585A;
    font-size: 14px;
    padding: 4px 0 6px 30px;
    text-decoration: none;
}

.bars-content .bar-item>a>.bar-item-text,
.bars-content .bar-item-text:selected{
    text-decoration: none;
}

.bars-content .bar-item-text {
    color: #58585A;
    font-size: 16px;
    font-weight: 400;
}

.navbar-sandboxes {
    position: absolute;
    top: 23px;
    left: 290px;
    height: 60px;
}

.navbar-sandboxes .navbar-button {
    position: absolute;
    top: 20px;
    left: 265px;
}

.navbar-sandboxes > a{
    font-size: 18px;
    text-decoration: none;
    color: #58585A;
}

.navbar-sandboxes > a>i {
    font-size: 14px;
    position: absolute;
    top: 4px;
    right: -11px;
    text-decoration: none;
    color: #58585A;
}

.navbar-sandboxes > a:focus,
.navbar-sandboxes > a>i:focus {
    outline: none;
    text-decoration: none;
}

.navbar-sandboxes > a:hover,
.navbar-sandboxes > a>i:hover {
    text-decoration: none;
    color: #10759D;
}

.navbar-sandboxes .popover.bottom>.arrow {
    left: 15px;
}

.navbar-sandboxes .popover {
    left: 0 !important;
}

.navbar-bars .popover,
.navbar-bars .popover-content,
.navbar-sandboxes .popover,
.navbar-sandboxes .popover-content,
.navbar-stack-name .popover,
.navbar-stack-name .popover-content
{
    padding: 0;
    border-radius: 0;
}

.sandboxes-content .sandbox-item {
    color: #10759D;
    padding: 4px 0 4px 5px;
    font-size: 14px;
    text-decoration: none;
}

.sandbox-nav-tabs>.nav-tabs {
    background-color: #FAFAFA;
    border-radius: 0;
    border-width: 0 0 2px 0;
    border-color: #F4F4F4;
    margin-bottom: 0;
}

.sandbox-nav-tabs .nav-tabs>li {
    margin-bottom: 0;
}
.sandbox-nav-tabs .nav-tabs>li.active>a,
.sandbox-nav-tabs .nav-tabs>li.active>a:hover,
.sandbox-nav-tabs .nav-tabs>li.active>a:focus {
    color: #10759D;
    background-color: #F4F4F4;
    border: none;
    border-bottom-color: transparent;
    cursor: default;
}

.sandbox-nav-tabs .nav-tabs>li>a:hover,
.sandbox-nav-tabs .nav-tabs>li>a:focus {
    color: #10759D;
    background-color: #F4F4F4;
    border: none;
}

.sandbox-nav-tabs .nav-tabs>li>a {
    font-weight: 300;
    font-size: 16px;
    color: #58585A;
    background-color: #FAFAFA;
    border: none;
}

.sandbox-nav-tabs .nav-tabs>li>a {
    margin-right: 0;
    line-height: 1.42857143;
    border-radius: 0;
}

.data-tab-content .slim-page-header {
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
}

.data-tab-content {
    margin: 6px;
}

.sandboxes-content {
    width: 200px;
}

.sandboxes-content .sandbox-item:hover {
    background-color: #10759D;
    color: #FFF;
    cursor: pointer;
}

.sandboxes-content .sandbox-item.sandbox {
    color: #58585A;
    padding: 4px 0 4px 5px;
    font-size: 14px;
    text-decoration: none;
}

.sandboxes-content .sandbox-item.sandbox:hover {
    background-color: #10759D;
    color: #FFF;
    cursor: pointer;
}


.navbar-stack-name .popover.bottom>.arrow {
    left: 186px;
}

.navbar-stack-name .popover {
    left: -60px !important;
}

.settings-content .settings-item
{
    color: #10759D;
    padding: 4px 0 4px 5px;
    font-size: 14px;
    text-decoration: none;
}

.settings-content .settings-item-text
{
    color: #58585A;
    padding: 4px 0 4px 5px;
    font-size: 14px;
    text-decoration: none;
}

.settings-content {
    width:200px;
}

.settings-content .settings-item:hover {
    background-color: #10759D;
    color: #FFF;
    cursor: pointer;
}

.slim-page-header {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
}

.slim-page-header i {
    font-size: 20px;
    padding-left: 5px;
}

.sub-header {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
}

.basic-text {
    font-size: 12px;
    font-weight: 300;
}

a {
    font-weight: 300;
    font-size: 12px;
    color: #10759D;
    outline: none;
}

a:hover {
    color: #4593B2;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

a.disabled {
    pointer-events: none;
    color: #66D5FF;
    outline: none;
}

a.selected {
    outline: none;
}

.details-header .slim-page-header {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 0 5px;
    padding: 5px;
    font-family: inherit;
    line-height: 1.1;
    color: #58585A;
}

.details-header {
    height: 35px;
    background: #FAFAFA;
    border-bottom: 2px solid #F4F4F4;
    padding-top: 4px;
    margin: -5px -22px 0 -5px;
}

.details-header .float-right-dark-btn {
    padding-right: 8px;
}

.details-vertical-scroll {
    margin-left: -22px;
    border-top: 2px solid #F4F4F4;
}

.float-right-dark-btn {
    cursor:pointer;
    float:right;
    border: none;
}

.float-right-dark-btn:hover{
    /*font-weight:bold;*/
    color: #58585A;
}

.float-right-white-btn:hover{
    font-weight:bold;
    color: #E6E6E6;
}

.float-right-white-btn,
.float-right-white-btn:focus,
.float-right-white-btn:hover {
    cursor:pointer;
    float:right;
    border: none;
    font-size: 16px;
    font-weight: 300;
    color: #FFF
}

.modal-header .float-right-white-btn {
    font-size: 16px;
    position: absolute;
    right: 25px;
    top: 20px;
    outline: none;
}

.sandbox-details {
    width: 600px;
    margin: 0 auto 0 auto;
    overflow: auto;
}

.item-selectable {
    cursor: pointer;
}

.user-management-container {
    overflow: auto;
}

.user-management-container .box {
    margin: 5px 0;
}

.user-management-table tbody tr:last-child td {
    border-bottom: 1px solid #E6E6E6;
}

.user-management-table tbody>tr td
{
    font-size: 12px;
    vertical-align: middle;
}

.user-management-table>tbody>tr td i{
    font-size: 18px;
}

.invite-table tbody tr:last-child td {
    border-bottom: 1px solid #E6E6E6;
}

.invite-table tbody>tr td,
.invite-table thead>tr th
{
    font-size: 12px;
    padding: 4px;
    vertical-align: middle;
}

.invite-table .th-inner {
    padding: 0 4px !important;
}


.invite-form {
    height: 25px;
    font-size: 12px;
}

.invite-form label {
    margin: 0;
    width: 90px;
    font-weight: normal;
}

.invite-form input {
    border: 1px solid #CCC;
    border-radius: 4px;
    width: 250px;
    height: 25px;
    padding-left: 5px;
}

.invite-form button {
    border: none;
    width: 85px;
    height: 25px;
    margin-left: 5px;
}

.dashboard-container {
    width: 600px;
    margin: 0 auto 0 auto;
    overflow: auto;
}

.dashboard-container .box {
    margin: 5px 0;
    padding-bottom: 5px;
}

.dashboard-table.table.table-striped>tbody>tr:hover>td,
.dashboard-table.table.table-striped>tbody>tr>td:hover
{
    background-color: #E6E6E6 !important;
    /*color: #FFF*/
}

.dashboard-table.table.table-striped>tbody>tr:nth-child(odd):hover>td {
    background-color: #E6E6E6 !important;
    /*color: #FFF*/
}

.dashboard-table>tbody>tr td
{
    font-size: 12px !important;
}

.dashboard-table>tbody>tr td i{
    font-size: 18px;
}

.dashboard-table tbody tr:last-child td {
    border-bottom: 1px solid #E6E6E6;
}

.dashboard-table  .th-inner {
    padding: 0 4px !important;
}

.dashboard-table tbody>tr td, .invite-table thead>tr th {
    font-size: 12px;
    padding: 8px 4px;
    vertical-align: middle;
}

.table>tbody>tr td button,
.table-striped tr td button{
    margin-left: 5px
}

.table>tbody>tr td,
.table>tbody>tr td,
.table-striped tr td,
.table-striped tr td{
    font-size: 12px
}

.table>tbody>tr.selected td,
.table>tbody>tr.selected:hover td,
.table-striped tr.selected td,
.table-striped tr.selected:hover td{
    background-color: #CCF1FF;
    /*background-color: #58585A;*/
    color: #58585A;
}
.table-container{
    overflow-y: auto;
}

.table-container table {
    margin-bottom: 0;
}

.table-container table tbody tr:last-child td {
    border-bottom: 1px solid #E6E6E6;
}

.input-long {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px
}

.content-column-vertical {
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-column {
    padding: 5px;
}

.content-column ul {
    padding-left: 0;
}

.content-column li {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    color: #58585A;
}

.btn {
    font-weight: 300;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
}

.btn-basic {
    color: #FFF;
    background-color: #10759D;
    border-color: #10759D;
    font-weight: 300;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
}

.btn-basic:hover,
.btn-basic:focus,
.btn-basic:active,
.btn-basic.active {
    color: #FFF;
    background-color: #4593B2;
    border-color: #4593B2;
}

.btn-basic.disabled,
.btn-basic[disabled],
fieldset[disabled] .btn-basic,
.btn-basic.disabled:hover,
.btn-basic[disabled]:hover,
fieldset[disabled] .btn-basic:hover,
.btn-basic.disabled:focus,
.btn-basic[disabled]:focus,
fieldset[disabled] .btn-basic:focus,
.btn-basic.disabled:active,
.btn-basic[disabled]:active,
fieldset[disabled] .btn-basic:active,
.btn-basic.disabled.active,
.btn-basic[disabled].active,
fieldset[disabled] .btn-basic.active {
    background-color: #66D5FF;
    border-color: #66D5FF;
}

.btn-delete {
    color: #FFF;
    background-color: #F82219;
    border-color: #F82219;
    font-weight: 300;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
}

.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active,
.btn-delete.active {
    color: #FFF;
    background-color: #FA5752;
    border-color: #FA5752;
}

.btn-delete.disabled,
.btn-delete[disabled],
fieldset[disabled] .btn-delete,
.btn-delete.disabled:hover,
.btn-delete[disabled]:hover,
fieldset[disabled] .btn-delete:hover,
.btn-delete.disabled:focus,
.btn-delete[disabled]:focus,
fieldset[disabled] .btn-delete:focus,
.btn-delete.disabled:active,
.btn-delete[disabled]:active,
fieldset[disabled] .btn-delete:active,
.btn-delete.disabled.active,
.btn-delete[disabled].active,
fieldset[disabled] .btn-delete.active {
    background-color: #FC9F9C;
    border-color: #FC9F9C;
}

.btn-accept {
    color: #FFF;
    background-color: #00B359;
    border-color: #00B359;
    font-weight: 300;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
}

.btn-accept:hover,
.btn-accept:focus,
.btn-accept:active,
.btn-accept.active {
    color: #FFF;
    background-color: #00CC66;
    border-color: #00CC66;
}

.btn-accept.disabled,
.btn-accept[disabled],
fieldset[disabled] .btn-accept,
.btn-accept.disabled:hover,
.btn-accept[disabled]:hover,
fieldset[disabled] .btn-accept:hover,
.btn-accept.disabled:focus,
.btn-accept[disabled]:focus,
fieldset[disabled] .btn-accept:focus,
.btn-accept.disabled:active,
.btn-accept[disabled]:active,
fieldset[disabled] .btn-accept:active,
.btn-accept.disabled.active,
.btn-accept[disabled].active,
fieldset[disabled] .btn-accept.active {
    background-color: #F82219;
    border-color: #F82219;
}

.btn-cancel {
    color: #FFF;
    background-color: #58585A;
    border-color: #58585A;
    font-weight: 300;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active,
.btn-cancel.active {
    color: #FFF;
    background-color: #808080;
    border-color: #808080;
}

.btn-cancel.disabled,
.btn-cancel[disabled],
fieldset[disabled] .btn-cancel,
.btn-cancel.disabled:hover,
.btn-cancel[disabled]:hover,
fieldset[disabled] .btn-cancel:hover,
.btn-cancel.disabled:focus,
.btn-cancel[disabled]:focus,
fieldset[disabled] .btn-cancel:focus,
.btn-cancel.disabled:active,
.btn-cancel[disabled]:active,
fieldset[disabled] .btn-cancel:active,
.btn-cancel.disabled.active,
.btn-cancel[disabled].active,
fieldset[disabled] .btn-cancel.active {
    background-color: #B3B3B3;
    border-color: #B3B3B3;
}

.app-gallery-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 1080px;
    /*min-width: 980px;*/
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #FFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.app-gallery-container-slim {
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 1080px;
    min-width: 100px;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #FFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-input {
    display: block;
    height: 34px;
    padding: 2px 6px;
    margin: 4px 8px;
}

.form-group {
    /*margin-bottom: 15px;*/
    margin-bottom: 2px;
}

.form-control {
    display: block;
    width: 100%;
    height: 24px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.428571429;
    color: #58585A;
    outline: none;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px #F4F4F4;
    box-shadow: inset 0 1px 1px #F4F4F4;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.invalid-form-control {
    display: block;
    width: 100%;
    height: 24px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.428571429;
    color: #58585A;
    outline: none;
    background-color: #FFE5E5;
    background-image: none;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px #F4F4F4;
    box-shadow: inset 0 1px 1px #F4F4F4;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {*/
    /*cursor: not-allowed;*/
    /*background-color: #eee;*/
    /*opacity: 1;*/
/*}*/

.form-btn {
    /*height: 35px;*/
    width: 100px;
}

.app-detail-label {
    /*float: left;*/
    width: 60px;
    /*padding-right: 10px;*/
    /*margin-bottom: 10px;*/
}

.app-detail-value {
    /*float: left;*/
    width: 290px;
    margin-bottom: 10px;
    font-weight: 600;
}

.app-detail-value>a {
    color: #10759D;
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
}

.app-detail-value>a:hover {
    color: #4593B2;
    text-decoration: none;
    cursor: pointer;
}

.thumb-holder {
    /*height: 240px;   !* 30px to contain the button below the image *!*/
    /*width: 210px;    !* 10px are used for border and padding leaving 200px for the thumbnail *!*/
    height: 215px;   /* 30px to contain the button below the image */
    width: 220px;    /* 10px are used for border and padding leaving 200px for the thumbnail */
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

.thumb-holder.selected {
    background-color: #FAFAFA;
    border-radius: 6px;
}

.thumb-holder.selected .thumbnail {
    background-color: #FAFAFA;
}

.thumb-holder .custom-app {
    background-color: #FAFAFA;
}

.thumb-holder .thumbnail .custom-app {
    background-color: #FAFAFA;
}

.thumb-holder a {
    font-weight: 300;
    font-size: 18px;
    position: absolute;
    bottom: 45px;
    left: 20px;
    text-align: center;
    width: 210px;
    overflow: hidden;
    color: #58585A;
    text-decoration: none;
}

.thumb-holder a:hover {
    color: #10759D;
    text-decoration: none;
    cursor: pointer;
}


.thumb-holder .btn-holder  {
    position: absolute;
    bottom: 15px;
    /*right: 20px;*/
    text-align: center;
    width: 210px;
}

.thumb-holder .btn  {
    font-weight: 300;
    padding: 2px 5px;
    font-size: 12px;
}

.thumb-holder .thumbnail {
    border: none;
    /*width: 200px;  !* 200px sets the width for the image. Image will scale to width *!*/
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: none;
    transition: none;
}

.thumb-holder .thumbnail img {
    max-width: 210px;
    max-height: 150px;
}

.modal-form .thumbnail {
    max-width: 210px;
    max-height: 150px;
}

.thumb-holder button {
    position: absolute;
    bottom: 15px;
    /*width: 200px;   !* 200px button width matches thumbnail width *!*/
    width: 210px;   /* 200px button width matches thumbnail width */
}

.title-box .thumbnail {
    /*width: 200px;  !* 200px sets the width for the image. Image will scale to width *!*/
    width: 210px;  /* 210px sets the width for the image. Image will scale to width */
    height: 150px;  /* 200px sets the width for the image. Image will scale to width */
    border: none;
    margin: 0 auto;
    padding: 0;
}

.title-box .thumbnail  img {
    max-width: 210px;
    max-height: 150px;
}

.detail-form-label-input .thumbnail  img {
    max-width: 210px;
    max-height: 150px;
}

.detail-form-label-input .thumbnail  {
    min-width: 220px;
    min-height: 160px;
    margin: 5px 0 0;
}

.detail-form-label-input,
.detail-form-value {
    border-radius: 4px;
    width: 65%;
    float: left;
    position: relative;
    display: inline-block;
    min-height: 20px;
    padding: 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
}

.detail-form-input-with-validation {
    width: 85%;
    float: left;
    position: relative;
    display: inline-block;
    min-height: 20px;
    padding: 5px 5px 5px;
}

.detail-form-input-with-validation input {
    border-radius: 4px;
    width: 95%;
    float: left;
    position: relative;
    display: inline-block;
    min-height: 20px;
    padding: 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
}

.detail-form-input-icon {
    color: #F82219;
    width: 5%;
    text-align: center;
}

.detail-form-description {
    color: #58585A;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.66666666666667;
    margin: 5px 0 0;
    word-wrap: break-word;
}


.detail-form-label-input.with-info {
    width: 56%;
}

.detail-form .info-btn {
    display: block;
    height: 25px;
    padding: 6px 6px 0px 0;
    outline: none;
    float: left;
}


.detail-form-line-inline {
    min-height: 60px
}

.detail-form-line-inline .detail-form-label-inline {
    padding: 10px 0 0 0;
}

.detail-form-value-inline {
    color: #58585A;
    font-size: 12px;
    font-weight: 600;
    min-height: 30px;
    width: 60%;
    float: left;
    position: relative;
    display: inline-block;
    padding: 10px 5px 5px;
}

.required{
    color: #F82219;;
    font-weight: bold;
}

.title-box .detail-form-label-inline {
    padding: 5px 0 5px 5px;
    width: 25%;
}
.title-box .detail-form-value-inline {
    width: 70%;
    padding: 5px 5px 5px;
}

.title-box .detail-form-label-input-inline {
    width: 65%;
}

.detail-form-line-inline.short {
    min-height: 30px
}

.title-box .detail-form-label-inline.short {
    padding: 5px 0 5px 5px;
    width: 35%;
}
.title-box .detail-form-value-inline.short {
    width: 60%;
    padding: 5px 5px 5px;
}

.title-box .detail-form-label-input-inline.short {
    width: 55%;
}

.detail-form-label-inline {
    width: 35%;
    float: left;
    position: relative;
    color: #58585A;
    min-height: 25px;
    padding: 10px 5px 5px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 300;
}

.detail-form-label-input-inline {
    border-radius: 4px;
    width: 55%;
    float: left;
    position: relative;
    display: inline-block;
    min-height: 25px;
    padding: 5px 5px 5px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
}

.detail-form-label-input-inline select,
.detail-form-label-input-inline input {
    width: 80%;
    float: left;
    position: relative;
    display: inline-block;
    min-height: 25px;
    padding: 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
}

.detail-form-line-inline a {
    padding: 5px 7px 0;
    float: left;
    width: 3%;
}

.detail-form-line-inline a>i {
    width: 100%;
}

.detail-form-label {
    width: 35%;
    float: left;
    position: relative;
    color: #58585A;
    /*text-align: right;*/
    min-height: 20px;
    padding: 5px 5px 5px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
}

.detail-form-value a {
    color: #10759D;
    font-size: 12px;
    font-weight: 600;
}
.detail-form-value a:hover {
    color: #4593B2;
    text-decoration: none;
    cursor: pointer;
}

.detail-form-value {
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    color: #58585A;
    /*padding-right: 4px;*/
    min-height: 20px;
    width: 65%;
    float: left;
    position: relative;
    display: inline-block;
    padding: 5px 5px 5px;
}

.modal-form .detail-form-label {
    width: 15%;
}

.modal-form .detail-form-label-input.with-info {
    width: 81%;
}
.modal-form .info-btn {
    display: block;
    height: 25px;
    padding: 6px 6px 0px 0;
    outline: none;
    float: left;
}

.modal-form .detail-form-label-input {
    margin-right: 0;
    width: 85%;
}

.modal-form .detail-form-value{
    width: 35%;
}

.modal-form .detail-form-value-full{
    width: 85%;
}

.modal-header {
    padding: 5px 0 5px 15px;
    border-bottom: 1px solid #E6E6E6;
    color: #FFF;
    /*border-radius: 4px;*/
    background-color: #10759D;
}
.modal-footer {
    padding: 10px 24px 4px;
    margin-bottom: 10px;
    text-align: right;
    border-top: none;
}

.modal-body-style label,
.modal-body-style input,
.modal-body-style {
    font-size: 12px;
    font-weight: 300;
}

.modal-body textarea {
    resize: none;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 10px;
    width: 550px;
    height: 450px;
    outline: none;
}

.editor-label {
    float: left;
    width: 200px;
}

.editor-field {
    margin-left:200px;
    margin-right:50px;
}

.editor-field input {
    float: left;
    width: 100%;
}

.invalid-inp_bottom_label {
    font-size: 13px;
    color: #FA5752;
}

.form-footer {
    padding: 6px 20px 20px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
}

.modal-footer {
    padding: 10px 24px 4px;
    margin-bottom: 10px;
    text-align: right;
    border-top: none;
}

table {
    width: 100%;
    /*margin-bottom: 20px;*/
    margin-bottom: 5px;
}

td {
    padding: 4px;
}

/*th {*/
    /*font-size: 12px*/
/*}*/

.recent-table {
    height: 150px;
}

.scrollableContainer {
    height: 150px;
    position: relative;
    padding-top: 37px;
    /*margin-bottom: 10px;*/
}
.scrollableContainer .headerSpacer {
    border-bottom: 1px solid #E6E6E6;
    position: absolute;
    height: 36px;
    top: 0;
    right: 0;
    left: 0;
}
.scrollableContainer th .th-inner .title > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scrollableContainer th .orderWrapper {
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
}
.scrollArea {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /*border-bottom: 1px solid #E6E6E6;*/
}
.scrollArea table {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0;
    border: none;
    border-collapse: separate;
}
.scrollArea table th {
    padding: 0;
    border: none;
}
.scrollArea table .th-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
}

.scrollArea table tr th:first-child .th-inner {
    border-left: none;
}
.scrollArea table .th-inner.condensed {
    padding: 0 3px;
}
.scrollArea table tbody tr td:first-child {
    border-left: none;
}
.scrollArea table tbody tr td:last-child {
    border-right: none;
}
.scrollArea table tbody tr:first-child td {
    border-top: none;
}
.scrollArea table tbody tr:last-child td {
    border-bottom: 1px solid #E6E6E6;
}
.scrollArea table>thead>tr>th {
    border-bottom: 0px solid #E6E6E6;
    padding: 0px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #E6E6E6;
    font-size: 12px
}

.contextTable{
    float: left;
    width: 100%;
    height: 95px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}
.contextTable.scrollableContainer {
    padding-top: 25px;
    margin-bottom: 4px;
}

.contextTable.scrollableContainer .headerSpacer {
    height: 24px;
}

.contextTable .scrollArea table .th-inner {
    height: 24px;
    line-height: 24px;
    width:50%;
}

.contextTable .table>thead>tr>th,
.contextTable .table>tbody>tr>th,
.contextTable .table>tfoot>tr>th,
.contextTable .table>thead>tr>td,
.contextTable .table>tbody>tr>td,
.contextTable .table>tfoot>tr>td {
    line-height: 8px;
    font-size: 12px;
    border-top: 1px solid #E6E6E6;
}

.contextTable .table>tfoot>tr>td{
    width:50%;
    float:left;
    word-wrap:break-word;
}

.title-box {
    margin: 25px 0 5px 0;
    padding: 5px;
    border: #E6E6E6 1px solid;
    border-radius: 4px;
}

.title-box .title {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    top: -16px;
    margin-left: 15px;
    padding: 0 2px 0 2px;
    display: inline;
    background-color: #FFF;
}

.title-box .content {
    margin-top: -15px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
    width: 100%;
}

.title-box .content .detail-form {
    height: 25px;
}

.title-box .content .detail-form-label {
    margin: 0;
    padding: 5px 0 0 5px;
    min-height: 20px;
}

.title-box .content .detail-form-value {
    border: none;
    margin: 0;
    padding: 5px 0 0 5px;
    min-height: 20px;
    font-weight: bold;
}

.title-box .content .detail-form-label.full-line {
    border: none;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 5px;
    min-height: 20px;
}

.form-label.full-line {
    border: none;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 5px;
    min-height: 20px;
    font-weight: normal;
}

.detail-description {
    font-size: 14px;
    font-weight: 300;
}

.btn-image {
    color: #10759D;
    margin-right: 5px;
    outline: none;
}

.btn-image:hover {
    color: #4593B2;
}

.image-btn {
    display: block;
    height: 24px;
    padding: 4px 6px 4px 0;;
    outline: none;
    float: left;
}

.form-group .image-btn {
    display: block;
    height: 28px;
    padding: 5px 0px 0px 0;
    outline: none;
    float: left;
}

.query-input {
    width: 100%;
}

.query-input .query-label {
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0 5px 5px;
    width: 15%;
    float: left;
}
.query-input .query-entry {
    width: 70%;
    padding: 5px 5px 5px;
    float: left;
}

.query-result-label {
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    margin-bottom: 0;
    float: left;
}

.summaryBox {
    border: 1px solid #CCC;
    /*border-radius: 4px 0 0 4px;*/
    border-radius: 4px;
    padding-left: 20px;
    overflow: auto;
}

.summaryRow:hover,
.summaryRow.selected {
    background-color: #CCC;
    cursor: pointer;
    text-decoration: none;
}

.summaryRow {
    border-bottom: 1px solid #CCC;
}

.search-bar {
    /*border-bottom: 2px solid #F4F4F4;*/
    min-width:220px;
    padding-top: 6px;
    position:relative;
    height: 30px;
}

.search-bar .search-label {
    float: left;
    /*padding-top: 6px;*/
    /*padding-left: 8px;*/
    width: 90px;
}

.search-bar .search-field {
    margin-left:90px;
    margin-right:0;
    max-width: 500px;
    position: relative;
}

.search-bar .search-field input {
    float: left;
    width: 100%;
    padding-right: 60px;
    background-color:transparent;
}

.search-bar .search-field .undo-icon,
.search-bar .search-field .undo-icon i {
    position:absolute;
    z-index: 2;
    right: 14px;
    width: 30px;
    display: block;
    padding-top: 3px;
}

.search-bar .search-field .search-icon,
.search-bar .search-field .search-icon i {
    position:absolute;
    z-index: 2;
    right:0;
    width: 30px;
    display: block;
    padding-top: 3px;
}

.message_area {
    position: fixed;
    right: 5px;
    width: 250px;
    z-index: 1000;
}
.message_error {
    background-color: #D81B1B;
    border: 1px solid #FF3C3C;
    box-shadow: 0 0 10px #000;
    font-size: 15px;
    color: #58585A;
    padding: 0;
    border-radius: 3px;
    cursor:pointer
}

.message_info {
    font-size: 15px;
    color: #FFF;
    box-shadow: 0 0 10px #58585A;
    padding: 0;
    background-color: #10759D;
    border-radius: 3px;
    border: 1px solid #FFF;
    cursor:pointer
}
.message_error div {
    padding: 5px 10px;
    background-color: #D81B1B;
    border: 1px solid #940000;
    border-radius: 3px;
    color: #FFF;
}
.message_info div {
    padding: 5px 10px;
    background-color: #10759D;
    border-radius: 3px;
    border: 1px solid #E6E6E6;
}
.message_error, .message_info {
    min-width: 120px;
    font-family: Tahoma,Arial;
    z-index: 10000;
    overflow: hidden;
    margin: 5px 5px 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.start-note2 {
    margin-top: 80px;
    font-size: 22px;
    text-align: left;
    font-weight:normal;
    color: #58585A;
}

.start-note {
    margin: 10px 0;
    font-size: 12px;
    color: #58585A;
    text-align: left;
    font-style: italic;
}


.start-form {
    width: 500px;
    /*margin: 50px auto 0 auto;*/
    margin-left: auto;
    margin-right: auto;
    color: #58585A;
}

.start-form img {
    height: 100px;
    margin-bottom: 10px
}

.columns-group {
    display: table;
    box-sizing: border-box;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.single-column {
    display: table-cell;
    vertical-align: top;
}

.feature-checkmark-list {
    list-style: none;
    margin-left: 0;
    padding-left: 36px;
}

.feature-checkmark-list--item:before {
    color: #58585A;
    content: '\2714';
    display: inline-block;
    font-size: 18px;
    margin: 0 0 0 -24px;
    width: 24px;
}

.start-form-info-box {
/*margin-left: 30px;*/
    font-size: 14px;
}

.start-form-info-box h1 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.42857143;
}

.start-title {
    font-size: 22px;
    text-align: left;
    font-weight:normal;
    color: #58585A;
}

.start-box {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 10px auto 60px;
    padding: 30px;
}

.start-section {
    /*border-top: 1px solid #CCC;*/
    display: inline-block;
    padding: 0;
    position: relative;
    width: 100%;
}

.start-link-text {
    float: right;
    color: #10759D;
    font-size: 22px;
    font-weight:normal;
}

.start-form-text:hover {
    color: #4593B2;
    text-decoration: none;
}


.site-seal {
    position: absolute;
    left: 20px;
    bottom: 5px;
}

.site-seal img {
    width: 80px !important;
}


footer .container {
    /*margin-top: 3px;*/
    overflow: hidden;
    width: 980px;
    /*height: 40px;*/
}

footer .copyright {
    text-align: center;
    color: #58585A;
    font-size: 14px;
    padding-top: 15px;
}

footer {
    position: absolute;
    width: 100%;
    background-color: #FAFAFA;
    border-radius: 0;
    border-width: 2px 0 0;
    border-style: solid;
    border-color: #F4F4F4;
    height: 60px;
    padding-top: 5px;
}

input[type="text"]#sandboxid{
    -webkit-appearance:none!important;
    text-align:left;
    border-radius: 4px;
    border-left:0px;
    background: #FFF;
}
input[type="text"]#userid{
    -webkit-appearance:none!important;
    border-radius: 4px;
    text-align:right;
    margin:0 0 0 -7px;
    border-right:0px;
    outline:none;
}

label.btn input[type="file"] {
    position: fixed;
    top: -1000px;
}

a[ng-click]{
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}