<div class="modal-header">
    <div class="slim-page-header modal-title">Register An App in {{sandboxName}}
        <a href={{docLink('registerAnApp')}} target="_blank" class="float-right-white-btn"><i class="fa fa-question-circle-o"></i></a>
    </div>
</div>
<div class="modal-body">
    <div class="modal-form">

        <div class="form-group" >
            <label class="detail-form-label">App Type</label>
            <div class="detail-form-label-input with-info">
                <select ng-model="clientType" ng-options="option for option in clientTypes" class="form-control" data-toggle="tooltip" data-placement="right" title="Type of client to create" />
            </div>
            <a href='http://docs.smarthealthit.org/authorization/' target="_blank" class='float-right-dark-btn'>
                <img src="static/images/circle_info-128.png" class="info-btn">
            </a>
        </div>

        <div class="form-group">
            <label class="detail-form-label">App Name<span class="required">*</span></label>
            <div class="detail-form-label-input">
                <input ng-model="clientJSON.clientName" class="form-control" placeholder="Human Readable Name for Your App e.g.: Growth Chart"/>
            </div>
        </div>

        <div class="form-group">
            <label class="detail-form-label">App Launch URI<span class="required">*</span></label>
            <div class="detail-form-label-input">
                <input ng-model="clientJSON.launchUri" class="form-control" placeholder="e.g.: http://mydomain.com/growth-chart/launch.html"/>
            </div>
        </div>

        <div class="form-group">
            <label class="detail-form-label">App Redirect URIs</label>
            <div class="detail-form-label-input">
                <input ng-model="clientJSON.redirectUris" class="form-control" placeholder="e.g.: http://mydomain.com/growth-chart/index.html"/>
            </div>
        </div>

        <div class="form-group">
            <label class="detail-form-label">Allow Offline Access </label>
            <input style="height: 30px" type="checkbox" class="detail-form-label-input" ng-model="offlineAccess"/>
        </div>


        <div class="form-group">
            <label class="detail-form-label">Patient Scoped App </label>
            <input style="height: 30px" type="checkbox" class="detail-form-label-input" ng-model="patientScoped"/>
        </div>

        <!--<div class="form-group" ng-show="patientScoped === true">-->
            <!--<label class="detail-form-label">FHIR Patient Query</label>-->
            <!--<div class="detail-form-label-input">-->
                <!--<input ng-model="samplePatients" class="form-control" placeholder="e.g.: Patient?_id=SMART-1032702,SMART-621799"/>-->
                <!--<label class="create-form-description">This is a FHIR Query to limit the Patient Picker.</label>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label class="detail-form-label">App Logo</label>
            <div class="detail-form-label-input">
                <label class="btn btn-basic btn-md"><input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" required/><i class="fa fa-upload fa-lg"></i><span> Select Image</span></label>
                <label style="margin-top: 5px">(width: 210px X height: 150px)</label>
                <div class="thumbnail">
                    <img ng-show="clientJSON.logo" ng-src="{{clientJSON.logo}}" alt="Image (width: 210px X height: 150px)">
                    <label ng-hide="clientJSON.logo" style="margin-top: 5px">No Image</label>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <label class="detail-form-label"><span class="required">*</span>Indicates a required field</label>
    </div>

</div>
<div class="modal-footer">
    <button class="form-btn btn btn-basic" ng-disabled="!createEnabled" type="button" ng-click="registerApp(clientJSON)"><i class="fa fa-save fa-lg"></i> Save</button>
    <button class="form-btn btn btn-cancel" type="button" ng-click="cancel()">Cancel</button>
</div>

