<div class="col-md-12">
    <div class="row">
        <div class="search-bar">
            <div class="search-label"><label>FHIR Query</label></div>
            <div class="search-field typeahead">
                <input enter-key="runQuery(settings.fhirQuery)" type="text" class="input-box form-control" ng-model="settings.fhirQuery"
                       uib-typeahead="item for item in filterQuery($viewValue)"
                       typeahead-on-select="settings.fhirQuery = $item; runQuery(settings.fhirQuery)" typeahead-min-length="0">

                <a href='#' class='undo-icon' ng-show="settings.fhirQuery != ''" ng-click="settings.fhirQuery = ''; runQuery('clear')"><i class='fa fa-remove fa-lg'></i></a>
                <a href='#' class='search-icon' ng-click="runQuery(settings.fhirQuery)"><i class='fa fa-search fa-lg'></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="query-input">
            <label class="query-result-label" style="width: 40px">Total </label>
            <label ng-show="settings.showing.results" class="query-result-label" style="width: 60px; font-weight: 600">{{settings.resultTotal}}</label>
            <label class="query-result-label" style="width: 80px">Current Set </label>
            <label ng-show="settings.showing.results" class="query-result-label" style="width: 40px; font-weight: 600">{{settings.resultSet}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" style="padding-right: 0; padding-left: 0">
            <div class="slim-page-header" style="padding:0 0 5px 0" >Summary</div>
            <div class="summaryBox" resize ng-style="scrollScreen(size.screenH, size.screenW) ? {'min-height': '380px', 'margin-bottom': '10px'} : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+170)">
                <div ng-repeat="resource in settings.resourceList" ng-click="selectResource(resource)" ng-class="{selected : resource === settings.selected.resource}">
                    <div class="row summaryRow" style="border-bottom: 1px solid #ccc; cursor: pointer">
                        <div ng-repeat="attribute in settings.selectedResourceType.displayValues">
                            <div ng-show="attribute.show">
                                <label class="query-result-label" style="width: 30%; font-weight: 600">{{attribute.label}} </label>
                                <label class="query-result-label" style="width: 70%;">{{getDynamicModel(resource.resource, attribute.path, attribute)}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="padding-right: 0">
            <div class="slim-page-header" style="padding:0 0 5px 0" >Result JSON Bundle</div>
            <textarea resize ng-style="scrollScreen(size.screenH, size.screenW) ? {'min-height': '380px', 'margin-bottom': '10px'} : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+170)" style="resize: none; background-color: #fff; cursor: text;" class="form-control" readonly>{{settings.queryResults}}</textarea>
        </div>
    </div>
</div>
