<div class="col-md-12 horizontal-scroll" ng-controller="PatientDetailController" ng-style="scrollScreen(size.screenH, size.screenW)? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+40)" resize >
    <div class="row">
        <div class="col-md-12 content-column">
            <div class="title-box">
                <div class="title">Patient</div>
                <div class="content">
                    <div class="detail-form">
                        <label class="detail-form-label">Name:</label>
                        <label class="detail-form-value" ng-show="showing.patientDataManager"><a ng-click="launchPatientDataManager(selected.selectedPatient)">{{selected.selectedPatient | nameGivenFamily}}</a></label>
                        <label class="detail-form-value" ng-show="!showing.patientDataManager">{{selected.selectedPatient | nameGivenFamily}}</label>
                    </div>
                    <div class="detail-form">
                        <label class="detail-form-label">Gender:</label>
                        <label class="detail-form-value">{{selected.selectedPatient.gender}}</label>
                    </div>
                    <div class="detail-form">
                        <label class="detail-form-label">Birth Date:</label>
                        <label class="detail-form-value">{{selected.selectedPatient.birthDate | date:'MM/dd/yyyy'}}</label>
                    </div>
                </div>
            </div>

            <!--<div class="box">-->
                <!--<highchart config="selected.chartConfig" style="width: 350px "></highchart>-->
            <!--</div>-->
            <div class="title-box">
                <div class="title">Data Summary</div>
                <div class="content">
                    <!--<div ng-repeat="resource in selected.patientResources">-->
                        <!--<div class="detail-form">-->
                            <!--<label class="detail-form-value">{{resource.resourceType}} ({{resource.count}})-->
                                <highchart config="selected.chartConfig" style="min-width: 250px; max-width: 350px; height: 250px"></highchart>
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 content-column" ng-show="showing.selectForScenario">
            <div class="btn btn-basic btn-md" ng-click="setPatient(selected.selectedPatient)" ng-disabled="!selected.patientSelected">Select this Patient <i class="fa fa-chevron-right"></i></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 content-column" ng-show="showing.patientDataManager">
            <div class="btn btn-basic btn-md" ng-click="launchPatientDataManager(selected.selectedPatient)" ng-disabled="!selected.patientSelected">Open Patient Data Manager</div>
        </div>
    </div>
</div>
