<div class="container-fluid" ng-controller="PersonaController">
    <div class="row">
        <div class="content-column" resize ng-style="scrollScreen(size.screenH, size.screenW) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight)" ng-class="showing.detail ? 'col-lg-8 right-border' : 'col-lg-12'">
            <div style="margin-bottom: 10px">
                <div class="slim-page-header">Choose a Persona</div>
                <div class="btn btn-basic btn-md" ng-click="goToPersona()"><i class="fa fa-users fa-lg"></i> Create New Persona</div>
            </div>
            <div ng-include="'static/js/templates/personaSearch.html'"></div>
        </div>
        <div class="col-lg-4 content-column left-border" ng-show="showing.detail">
            <div class="details-header" resize ng-class="scrollWidth(size.screenW) ? 'details-vertical-scroll' : ''">
                <div class="slim-page-header">Persona Details</div>
            </div>
            <div ng-include="'static/js/templates/personaDetail.html'"></div>
        </div>
    </div>
</div>
