<div class="col-md-12 horizontal-scroll" ng-style="scrollScreen(size.screenH, size.screenW) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+40)" resize >
    <div class="row">
        <div class="col-md-12 content-column">
            <div class="detail-description">{{desc.title}}</div>

            <div class="title-box">
                <div class="title">Persona</div>
                <div class="content">
                    <div class="detail-form">
                        <label class="detail-form-label">Display Name:</label>
                        <label class="detail-form-value">{{selectedPersona.ldapName}}</label>
                    </div>
                    <div class="detail-form">
                        <label class="detail-form-label">User Id:</label>
                        <label class="detail-form-value">{{selectedPersona.ldapId}}</label>
                    </div>
                    <div class="detail-form">
                        <label class="detail-form-label">Password:</label>
                        <label class="detail-form-value">{{selectedPersona.password}}</label>
                    </div>
                    <div class="detail-form">
                        <label class="detail-form-label">FHIR Resource Type:</label>
                        <label class="detail-form-value"><i class='fa' ng-class="selectedPersona.resource == 'Patient' ? 'fa-bed' : 'fa-user-md'"></i> {{selectedPersona.resource}}</label>
                    </div>
                    <!--<div class="detail-form-line-inline short">-->
                        <!--<label class="detail-form-label-inline short">Password:</label>-->
                        <!--<label ng-hide="editPassword.showEdit" class="detail-form-value-inline short">{{selectedPersona.password}}</label>-->
                        <!--<a ng-hide="editPassword.showEdit" ng-click="editPassword.showEdit = true" class='float-right-dark-btn'>-->
                            <!--<i class='fa fa-pencil fa-lg'></i>-->
                        <!--</a>-->
                        <!--<input ng-show="editPassword.showEdit" class="detail-form-label-input-inline short" ng-model="editPassword.new"/>-->
                        <!--<a ng-show="editPassword.showEdit" ng-click="cancelPassword(selectedPersona)" class='float-right-dark-btn'>-->
                            <!--<i class='fa fa-remove fa-lg'></i>-->
                        <!--</a>-->
                        <!--<a ng-show="editPassword.showEdit" ng-click="updatePassword(selectedPersona)" class='float-right-dark-btn'>-->
                            <!--<i class='fa fa-check fa-lg'></i>-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 content-column" ng-show="showing.selectForScenario">
            <div class="btn btn-basic btn-md" ng-click="setPersona(selectedPersona)" ng-disabled="!selectedPersona">Select this Persona <i class="fa fa-chevron-right"></i></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 content-column" ng-show="showing.deletePersona">
            <div class="btn btn-delete btn-md" ng-show="canModify" ng-disabled="!canDelete" ng-click="delete(selectedPersona)"><i class="fa fa-trash-o fa-lg"></i> Delete</div>
        </div>
    </div>
</div>
