<div id="practitioner-results" ng-controller="PractitionerSearchController">
    <div class="box" style="margin-bottom: 5px">
        <div class="row">
            <div class="col-md-12 content-column-vertical">
                <div class="pull-left  basic-text">Search for practitioners by name</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input
                        id="practitioner-search"
                        class="input-long basic-text"
                        type="text"
                        autofocus
                        focus-me="shouldBeOpen"
                        contenteditable
                        focus-on-key="191"
                        ng-model="searchterm"
                        placeholder="john smith ..."/>
            </div>
        </div>
        <div class="row" ng-show="showing.createPractitioner && canManageData()">
            <div class="col-md-12 content-column-vertical" ng-controller="CreateNewPractitionerCtrl">
                <a class="pull-left" ng-click="open()">Create new practitioner</a>
            </div>
        </div>
        <div class="row table-container" resize ng-style="scrollScreen(size.screenH, size.screenW) ? {'min-height': '340px'} : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+200)">
            <div class="col-md-12 result">
                <div id="practitioner-results-list" ng-cloak when-scrolling="loadMoreIfNeeded()">
                    <table class="table table-striped table-hover">
                        <tr class="practitioner-row item-selectable" ng-click="select($index)" ng-repeat="practitioner in practitioners" ng-class="{selected : practitioner === selected.selectedPractitioner}">
                            <td class="name">
                                <span ng-bind="practitioner | nameGivenFamily"></span>
                            </td>
                        </tr>
                    </table>

                    <div ng-show="!showing.searchloading && (practitioners.length==0)">
                        <p>No matches, try broadening your search.</p>
                    </div>

                    <div id="loading-practitioner-results" ng-show="showing.searchloading" class="ng-hide">
                        <p>Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-show="hasPrev() || hasNext()" style="text-align: center">Showing {{count.start}} to {{count.end}} of {{count.total}}</div>
            <div ng-show="hasPrev()" class="btn btn-basic btn-md" style="float: left" ng-click="loadMore('prevPage')"><i class="fa fa-chevron-left fa-lg"></i> Prev</div>
            <div ng-show="hasNext()" class="btn btn-basic btn-md" style="float: right" ng-click="loadMore('nextPage')">Next <i class="fa fa-chevron-right fa-lg"></i></div>
        </div>
    </div>
</div>
