<div  ng-controller="StartController" resize
      ng-style="scrollScreen(size.screenH, size.screenW) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+60)">
    <div class="slim-page-header" ng-show="!showing.start" ng-cloak>Loading...</div>
    <div class="row start-box start-form" ng-show="showing.start">
        <div class="col-lg-12 start-section ">

            <div class="columns-group">
                <div class="single-column">
                    <div class="start-form-info-box">
                        <h1>{{title}}</h1>
                        <p>{{description}}</p>

                        <ul class="feature-checkmark-list">
                            <li class="feature-checkmark-list--item" ng-repeat="item in checkList">{{item}}</li>
                        </ul>

                        <p>{{bottomNote}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 create-section ">
            <button class="form-btn btn btn-basic" type="button" ng-click="signin()">Sign In</button>
            <button class="form-btn btn btn-basic" type="button" ng-click="signup()">Sign Up</button>
            <a ng-show="loginDoc !== ''" class="form-btn btn btn-basic" type="button"
               href={{loginDoc}} target="_blank">Learn More</a>
        </div>
    </div>
</div>
