<div class="container-fluid" ng-controller="SandboxUserViewController">
    <div class="row">
        <div class="row horizontal-scroll user-management-container" resize ng-style="scrollScreen(size.screenH, size.screenW) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+20)">
            <div class="col-lg-12">
                <div class="sub-header">Users</div>
                <div class="box">
                    <div class="scrollableContainer" ng-style="{height: canInvite() ? '200px' : '400px'}">
                        <div class="headerSpacer"></div>
                        <div class="scrollArea">
                            <table class="user-management-table table table-striped">
                                <thead class="fixedHeader">
                                <tr>
                                    <th><div class="th-inner" table-header-inner>Name</div></th>
                                    <th><div class="th-inner" table-header-inner>Email</div></th>
                                    <th><div class="th-inner" table-header-inner></div></th>
                                </tr>
                                </thead>
                                <tbody class="scrollContent">
                                <tr ng-repeat="user in users">
                                    <td>{{user.name}}</td>
                                    <td>{{user.ldapId}}</td>
                                    <td><i ng-show="showDelete(user.ldapId)" ng-click="removeUser(user.ldapId)" class="fa fa-times-circle"></i></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div ng-show="canInvite()" class="invite-form">
                    <label>Invite A User</label>
                    <input ng-model="newUserEmail" placeholder="User's Email Address"/>
                    <button ng-click="sendInvite()" ng-disabled="!validEmail" class="btn btn-accept"><i class="fa fa-share"></i> Send Invite</button>
                </div>
            </div>
            <div class="col-lg-12" ng-show="canInvite()">
                <div class="sub-header">Invitations</div>
                <div class="box">
                    <div class="scrollableContainer" style="height: 200px">
                        <div class="headerSpacer"></div>
                        <div class="scrollArea">
                            <table class="invite-table table table-striped">
                                <thead class="fixedHeader">
                                <tr>
                                    <th><div class="th-inner" table-header-inner>Status</div></th>
                                    <th><div class="th-inner" table-header-inner>Email</div></th>
                                    <th><div class="th-inner" table-header-inner></div></th>
                                </tr>
                                </thead>
                                <tbody class="scrollContent">
                                <tr ng-repeat="userRole in userRoles">
                                <tr ng-repeat="sandboxInvite in sandboxInvites">
                                    <td>{{sandboxInvite.status}}</td>
                                    <td>{{sandboxInvite.invitee.ldapId}}</td>
                                    <td>
                                        <button ng-click="revokeInvite(sandboxInvite)" class="btn btn-cancel" style="float: right"><i class="fa fa-remove"></i> Revoke</button>
                                        <button ng-click="resendInvite(sandboxInvite.invitee.ldapId)" class="btn btn-accept" style="float: right"><i class="fa fa-share"></i> Resend</button>
                                    </td>
                                </tr>
                                <tr ng-if="sandboxInvites.length === 0">
                                    <td style="padding:8px">No Invites</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>

